                     .btn_vne.btn_disable {
                         background: #F7F7F7 !important;
                         color: #BDBDBD !important;}
                    .flexbox,
                    .box-covid-2021 .item-count-head,
                    .box-covid-300 .item-count-head {

                        display: flex
                    }

                    .no-flexbox {
                        display: inherit
                    }



                    .box-covid-2021 {
                        position: relative
                    }

                    .box-covid-2021 .inner-box-cv {
                        align-items: center;
                        background: #F7F7F7;
                        border: 1px solid #E5E5E5;
                        padding: 15px
                    }

                    .box-covid-2021 .header-cv {
                        flex-wrap: wrap;
                        width: 50%;
                        padding-right: 15px
                    }

                    .box-covid-2021 .txt-head {
                        width: 100%;
                        margin-bottom: 0;
                        position: relative;
                        margin-top: -8px
                    }

                    .box-covid-2021 .txt-head strong {
                        font: bold 18px/23px "Merriweather", serif
                    }

                    .box-covid-2021 .txt-head span {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        margin-top: 8px;
                        display: block
                    }

                    .box-covid-2021 .txt-head a {
                        color: #222 !important;
                        text-decoration: none !important
                    }

                    .box-covid-2021 .txt-head .cta-covid {
                        font-size: 14px;
                        line-height: 16px;
                        text-decoration-line: underline !important;
                        color: #076FBA !important;
                        position: absolute;
                        right: 0;
                        top: 28px
                    }

                    .box-covid-2021 .box-count-head {
                        padding-top: 20px;
                        margin-top: 15px;
                        border-top: 1px solid #e5e5e5;
                        position: relative
                    }

                    .box-covid-2021 .box-count-head .link-to-page {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0
                    }

                    .box-covid-2021 .item-count-head {
                        width: 50%;
                        padding-right: 15px;
                        align-items: center
                    }

                    .box-covid-2021 .item-count-head:last-of-type {
                        padding-right: 0
                    }

                    .box-covid-2021 .item-count-head .chart-by-date {
                        padding-left: 10px
                    }

                    .box-covid-2021 .txt-ch {
                        font-size: 14px;
                        line-height: 16px;
                        color: #757575;
                        flex-shrink: 0;
                        margin-bottom: 5px
                    }

                    .box-covid-2021 .number-count {
                        font: bold 32px/120% "Merriweather", serif;
                        padding-left: 10px;
                        flex-shrink: 1
                    }

                    .box-covid-2021 .number-count.number-up {
                        color: #A62123
                    }

                    .box-covid-2021 .wrap-slide-cv {
                        width: 50%;
                        padding: 0 0 0 15px;
                        position: relative;
                        border-left: 1px solid #e5e5e5
                    }

                    .box-covid-2021 .tbl-cv {
                        width: 100%;
                        padding-right: 20px;
                        margin-bottom: 0
                    }

                    .box-covid-2021 .tbl-cv th,
                    .box-covid-2021 .tbl-cv td {
                        padding: 4px 0;
                        text-align: right;
                        font-size: 14px;
                        line-height: 16px
                    }

                    .box-covid-2021 .tbl-cv th {
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 400;
                        padding: 3px 10px 5px 0;
                        color: #757575
                    }

                    .box-covid-2021 .tbl-cv th.col-all {
                        padding-right: 15px
                    }

                    .box-covid-2021 .tbl-cv .col-prov {
                        width: 50%;
                        text-align: left
                    }

                    .box-covid-2021 .tbl-cv .col-all,
                    .box-covid-2021 .tbl-cv .col-today {
                        width: 25%;
                        padding-left: 10px;
                        text-align: right
                    }

                    .box-covid-2021 .tbl-cv .number-up {
                        color: #A62123
                    }

                    .box-covid-2021 .wrap-scroll-tb {
                        scroll-behavior: smooth;
                        -ms-overflow-style: -ms-autohiding-scrollbar;
                        overflow-y: auto;
                        overflow-x: hidden;
                        -webkit-overflow-scrolling: touch;
                        max-height: 70px;
                        padding-right: 15px
                    }

                    .box-covid-2021 .wrap-scroll-tb .ss-scroll {
                        background: #c4c4c4;
                        width: 4px;
                        height: 39.5%;
                        display: block !important;
                        opacity: 1 !important;
                        right: auto !important;
                        left: 104%
                    }

                    .box-covid-2021 .wrap-scroll-tb .tbl-cv {
                        padding-right: 0
                    }

                    .box-covid-2021 .item-news.item-news-common {
                        padding: 12px 15px;
                        background: #fff;
                        border: 1px solid #e5e5e5;
                        border-bottom: none
                    }

                    .box-covid-2021 .item-news.item-news-common .title-news {
                        margin-bottom: 0;
                        text-decoration: none !important;
                        color: #222 !important
                    }

                    .box-covid-2021 .item-news.item-news-common .title-news a {
                        text-decoration: none !important;
                        color: #222 !important
                    }

                    .box-covid-2021 .item-news.item-news-common .title-news:hover {
                        color: #087CCE !important
                    }

                    .box-covid-2021 .textlink-to-page {
                        margin-bottom: 15px
                    }

                    .box-covid-2021 .textlink-to-page .ico-cv {
                        width: 16px;
                        height: 16px;
                        margin-right: 8px
                    }

                    .box-covid-2021 .textlink-to-page .ico-cv.ico-tracking {
                        background: url(https://s1.vnecdn.net/vnexpress/restruct/c/v583/images/graphics/Tracking.svg) no-repeat 0 0/contain
                    }

                    .box-covid-2021 .textlink-to-page .ico-cv.ico-news {
                        background: url(https://s1.vnecdn.net/vnexpress/restruct/c/v583/images/graphics/News.svg) no-repeat 0 0/contain
                    }

                    .box-covid-2021 .textlink-to-page a {
                        align-items: center;
                        text-decoration: none !important;
                        margin-right: 22px;
                        color: #076FBA
                    }

                    .box-covid-2021 .textlink-to-page a .txt-cv {
                        font-size: 14px;
                        line-height: 16px;
                        text-decoration: underline
                    }

                    .page-detail .box-covid-2021 .inner-box-cv {
                        background: #fff
                    }

                    .page-detail .box-covid-2021.box-cate-featured.has-border {
                        margin-bottom: 20px;
                        padding-bottom: 0;
                        border-bottom: none
                    }

                    .page-detail .box-covid-2021 .txt-head .cta-covid {
                        top: 32px
                    }

                    .box-covid-province .inner-box-cv {
                        flex-wrap: wrap
                    }

                    .box-covid-province .header-cv {
                        width: 100%;
                        padding-right: 0
                    }

                    .box-covid-province .txt-head .cta-covid {
                        top: 4px !important
                    }

                    .box-covid-province .wrap-col-prov {
                        width: 100%;
                        margin-top: 15px;
                        align-items: flex-start
                    }

                    .box-covid-province .box-count-head {
                        width: 105px;
                        flex-shrink: 0;
                        padding-right: 25px;
                        text-align: center;
                        flex-wrap: wrap;
                        padding-top: 0;
                        margin-top: 0;
                        border-top: none
                    }

                    .box-covid-province .item-count-head {
                        padding-right: 0;
                        width: 100%;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 15px
                    }

                    .box-covid-province .item-count-head span {
                        width: 100%
                    }

                    .box-covid-province .item-count-head .txt-ch {
                        color: #222
                    }

                    .box-covid-province .item-count-head .number-count {
                        padding-left: 0;
                        font-size: 20px;
                        line-height: 120%;
                        background: #F7F7F7;
                        border-radius: 3px;
                        font-family: arial;
                        color: #F3585B;
                        padding: 8px 0
                    }

                    .box-covid-province .item-count-head .number-count.count-all {
                        background: #F3585B;
                        color: #fff
                    }

                    .box-covid-province .item-count-head:last-of-type {
                        margin-bottom: 0
                    }

                    .box-covid-province .col-chart-prov {
                        width: 100%;
                        flex-shrink: 1
                    }

                    .box-covid-province .col-chart-prov .tit-col {
                        font-size: 14px;
                        line-height: 16px;
                        width: 100%;
                        float: left
                    }

                    .box-covid-province .col-chart-prov .box-chart-prov {
                        width: 100%;
                        float: left;
                        margin-top: 5px
                    }

                    .box-covid-province-chart .wrap-col-prov {
                        margin-top: 5px
                    }

                    .box-covid-province-chart .col-chart-prov .box-chart-prov {
                        margin-top: 20px
                    }

                    .box-covid-300 * {
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0
                    }

                    .box-covid-300:after {
                        bottom: auto;
                        top: 0
                    }

                    .box-covid-300 .table-cv {
                        width: 100%;
                        float: left;
                        position: relative
                    }

                    .box-covid-300 .table-cv:after {
                        width: 100%;
                        height: 45px;
                        position: absolute;
                        left: 0;
                        top: 107px;
                        content: '';
                        background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.9) 50.11%, #F7F7F7 100%)
                    }

                    .box-covid-300 .inner-box-cv {
                        background: #F7F7F7;
                        border: 1px solid #E5E5E5;
                        padding: 0 12px 15px 12px;
                        width: 100%;
                        float: left
                    }

                    .box-covid-300 .header-cv {
                        padding: 10px 0;
                        border-bottom: 1px solid #E5E5E5;
                        flex-wrap: wrap
                    }

                    .box-covid-300 .txt-head {
                        width: 100%;
                        margin-bottom: 12px;
                        padding-bottom: 12px;
                        border-bottom: 1px solid #e5e5e5;
                        margin-top: 0
                    }

                    .box-covid-300 .txt-head strong {
                        font: bold 18px/23px "Merriweather", serif
                    }

                    .box-covid-300 .txt-head span {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        margin-top: 6px;
                        display: block
                    }

                    .box-covid-300 .txt-head a {
                        color: #222 !important;
                        text-decoration: none !important
                    }

                    .box-covid-300 .box-count-head {
                        width: 100%
                    }

                    .box-covid-300 .item-count-head {
                        width: 50%;
                        padding-right: 15px;
                        align-items: center
                    }

                    .box-covid-300 .item-count-head li {
                        list-style: none
                    }

                    .box-covid-300 .item-count-head:last-of-type {
                        padding-right: 0
                    }

                    .box-covid-300 .item-count-head:last-of-type .txt-ch {
                        text-align: right
                    }

                    .box-covid-300 .item-count-head .chart-by-date {
                        padding-left: 10px;
                        width: 100%
                    }

                    .box-covid-300 .txt-ch {
                        font-size: 14px;
                        line-height: 16px;
                        color: #757575;
                        display: block;
                        margin-bottom: 0;
                        flex-shrink: 0
                    }

                    .box-covid-300 .number-count {
                        font: bold 32px/120% "Merriweather", serif;
                        padding-left: 10px;
                        flex-shrink: 1
                    }

                    .box-covid-300 .number-count.number-up {
                        color: #A62123
                    }

                    .box-covid-300 .tbl-cv {
                        width: 100%;
                        padding-right: 15px;
                        margin-bottom: 0
                    }

                    .box-covid-300 .tbl-cv th,
                    .box-covid-300 .tbl-cv td {
                        padding: 6px 0;
                        text-align: right;
                        font-size: 14px;
                        line-height: 16px
                    }

                    .box-covid-300 .tbl-cv th {
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 400;
                        padding: 10px 0 5px 0;
                        color: #757575
                    }

                    .box-covid-300 .tbl-cv .col-prov {
                        width: 44%;
                        text-align: left
                    }

                    .box-covid-300 .tbl-cv .col-all,
                    .box-covid-300 .tbl-cv .col-today {
                        width: 28%;
                        padding-left: 15px;
                        padding-right: 10px
                    }

                    .box-covid-300 .tbl-cv .col-today {
                        padding-right: 0
                    }

                    .box-covid-300 .tbl-cv .number-up {
                        color: #A62123
                    }

                    @media screen and (max-width: 413px) {
                        .box-covid-300 .tbl-cv .col-today {
                            padding-right: 0
                        }
                    }

                    .box-covid-300 .ss-scroll {
                        background: #c4c4c4;
                        width: 4px;
                        height: 39.5%;
                        display: block !important;
                        opacity: 1 !important;
                        right: auto !important;
                        left: 98%
                    }

                    .box-covid-300 .wrap-scroll-tb {
                        scroll-behavior: smooth;
                        -ms-overflow-style: -ms-autohiding-scrollbar;
                        -webkit-overflow-scrolling: touch;
                        overflow-y: auto;
                        overflow-x: hidden;
                        max-height: 106px
                    }

                    .box-covid-300 .wrap-scroll-tb .tbl-cv {
                        padding-right: 0
                    }

                    @media screen and (max-width: 359px) {
                        .box-covid-300 .link-out a .not-small {
                            display: none
                        }
                    }

                    @media screen and (max-width: 413px) {
                        .box-covid-300 .textlink-to-page a {
                            margin-right: 20px
                        }

                        .box-covid-300 .textlink-to-page a:last-child {
                            margin-right: 0
                        }
                    }

                    @media screen and (max-width: 599px) {
                        .box-covid-300 .tbl-cv {
                            padding-right: 0
                        }
                    }

                    #play-controls {
                        position: relative;
                        padding: 0
                    }

                    #play-controls #race-status {
                        position: absolute;
                        right: 0;
                        top: -70px;
                        color: #757575;
                        font-size: 16px
                    }

                    #play-controls #race-status .race-status-datetime {
                        display: block;
                        font: bold 24px/1.6 "Merriweather", serif;
                        text-align: right
                    }

                    #play-controls #play-pause-button {
                        width: 36px;
                        height: 36px;
                        cursor: pointer;
                        border-radius: 50%;
                        background: #333333;
                        border: 0;
                        outline: 0;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 30px
                    }

                    #play-controls #play-pause-button.iconfont-play::before {
                        content: "";
                        border-top: 8px solid rgba(255, 255, 255, 0);
                        border-bottom: 8px solid rgba(255, 255, 255, 0);
                        border-left: 11px solid #fff;
                        margin-left: 4px
                    }

                    #play-controls #play-pause-button.iconfont-pause::before {
                        content: "";
                        height: 14px;
                        width: 3px;
                        background: #fff
                    }

                    #play-controls #play-pause-button.iconfont-pause::after {
                        content: "";
                        height: 14px;
                        width: 3px;
                        background: #fff;
                        margin-left: 4px
                    }

                    #play-controls #play-range {
                        transform: translateY(2.5px)
                    }

                    #play-controls #lineCont {
                        width: 100%;
                        padding-left: 100px
                    }

                    #play-controls #line {
                        position: relative;
                        padding-top: 15px
                    }

                    #play-controls #line::before {
                        content: "";
                        height: 2px;
                        background: #e5e5e5;
                        position: absolute;
                        top: 17px;
                        right: 8px;
                        left: 8px
                    }

                    #play-controls #span {
                        display: none;
                        width: 70%;
                        margin: auto;
                        margin-top: 25%;
                        text-align: center;
                        color: #F00
                    }

                    #play-controls .circle {
                        cursor: pointer
                    }

                    #play-controls .circle:before {
                        content: "";
                        width: 2px;
                        height: 12px;
                        background: #e5e5e5;
                        position: absolute;
                        top: 2px;
                        left: 7px
                    }

                    #play-controls .circle .popupSpan {
                        white-space: nowrap;
                        display: inline-block;
                        color: #757575;
                        font-size: 12px;
                        margin-top: 20px;
                        display: block;
                        transition: all 0.1s ease-out
                    }

                    #play-controls .circle.active::after {
                        content: "";
                        border-right: 5px solid transparent;
                        border-left: 5px solid transparent;
                        border-top: 4px solid #757575;
                        position: absolute;
                        top: -13px;
                        left: 4px
                    }

                    #play-controls .circle.hover:before,
                    #play-controls .circle.active:before {
                        display: block
                    }

                    #play-controls .circle.hover .popupSpan,
                    #play-controls .circle.active .popupSpan {
                        display: block
                    }
        